/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

/* Grid layout */
.app-container {
  display: grid;
  grid-template-columns: minmax(100px, 20%) 1fr;
  grid-template-rows: 1min-content 1auto 6em;
  grid-template-areas: "side-menu content" "playlists content" ". player";
  width: 100vw;
  height: 100vh;
}

.app-side-menu { grid-area: side-menu; }

.app-content { grid-area: content; }

.app-playlists { grid-area: playlists; }

.app-player { grid-area: player; }